apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: podinfo
  namespace: flux-system
spec:
  values:
    replicaCount: 1
    ingress:
      enabled: true
      className: cilium
      hosts:
        - host: cluster.yumenomatayume.home
          paths:
            - path: /podinfo
              pathType: Prefix
